[2017-11-24 17:30] mikeerickson opened #1 "Fix wrapping (use full available console width)"
When outputting tests which are long, they are wrapping at 80 chars, adjust this so it gets the available colwidth to perform wrapping

[2017-11-24 17:31] mikeerickson opened #2 "Add `testdox` output"
Create `testdox` reporter

[2017-11-24 17:32] mikeerickson opened #3 "Restore `anybar` support"
This was available in an earlier version, restore this and update `anybar` if it is installed

[2017-11-24 18:47] #1 closed

[2017-11-24 18:48] mikeerickson commented on #1
Fixed in v0.3.0

[2017-12-21 23:31] VinceG opened #4 "Fatal Error"
[code]

Seems like `codedungeon/phpunit-result-printer/src/Printer.php` checks which php unit version is installed

if i run
```var_dump(class_exists('\PHPUnit_TextUI_ResultPrinter'), class_exists('\PHPUnit\TextUI\ResultPrinter'));```

both return true, therefore the error above shown.

PHPUnit 6.2.2
PHP 7.1.6

[2017-12-21 23:36] VinceG commented on #4
Never mind i had two version of php unit installed.

[2017-12-21 23:36] #4 closed

[2017-12-22 06:56] iampawan31 opened #7 "Unable to add this package."
I am unable to use this package in laravel project. There seems to be some dependency constraint failure related to symphony/routing. Below is the output
[code]

PHP Version - 7.1.4
PHPUnit Version - 6.0

[2017-12-22 07:49] dmirogin commented on #7
Same

[2017-12-22 08:12] iampawan31 commented on #7
I just noticed that someone has already submitted a PR for this issue.

[2017-12-22 13:57] kbond opened #8 "When the first test in a file fails, it is shown as a failure on the previous line"
I have two tests:

[code]

And:

[code]

The output is as follows:

[code]

[2017-12-22 13:58] kbond commented on #8
When I make `test_first_test` fail, the output is as follows:

[code]

[2017-12-22 15:58] mikeerickson commented on #7
@iampawan31 This has been cured in `0.4.2` version

[2017-12-22 15:58] #7 closed

[2017-12-22 16:04] mikeerickson commented on #8
@kbond I have been able to reproduce your issue, I will try and get this worked out over the weekend, but we are starting our holiday break today so not 100% sure

[2017-12-22 16:08] kbond commented on #8
Great, no rush!

[2017-12-22 17:51] mikeerickson commented on #8
If anybody would like to help this issue, it would be most welcome.  If not, I plan on getting to this ni the next few days.

[2017-12-22 18:49] #8 closed

[2017-12-22 18:52] mikeerickson commented on #8
Released `0.4.4`

[2017-12-24 01:08] LasseRafn opened #11 "Teamcity support?"
I was wondering if Teamcity support is a thing you're considering? PhpStorm / Intellij automatically uses that format and I haven't found a way to disable it.

Would gladly put some work into making a PR myself, but I have no clue how phpunit printers work

[2017-12-25 02:43] mikeerickson commented on #11
@LasseRafn Hmmm, I have not used TeamCity either.  I am not really sure what it would take to support it.  I would consider it, depending on the amount of time it would take to add support :-)

[2017-12-29 14:08] okaufmann opened #13 "Could not use "Codedungeon\\PHPUnitPrettyResultPrinter\\Printer" as printer: class does not exist"
Hi,

I tried to use the Printer on windows with phpunit 6.5.5 in a Laravel Project.

When I add it to phpunit.xml and run the tests they appear to run forever with no output.
When I set the printer in commandline I get the following error:

[code]

Is this a Windows related issue or am a doing something wrong?

Thanks

[2017-12-30 10:54] guruas3 commented on #13
I have the same issue on Windows.

The problem is in this block of code: [code](https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/master/src/Printer.php#L267-L273) as it never closes the while loop.
Because this condition : [code](https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/master/src/Printer.php#L269) is never satisfied on Windows.
As `$configPath` changes

[2017-12-30 15:53] mikeerickson commented on #13
Hey guys, I am on vacation until Tuesday. I will have a look at this when I return.

[2018-01-02 18:27] mfour-merickson commented on #13
@okaufmann @guruas3 Hey guys, just getting back to these issues.  Can you please share with me what version of Windows you are using.

[2018-01-02 19:31] guruas3 commented on #13
I have Windows 7. But i don't think it's relevant as all versions of Windows should have the same error. I showed you why in my previous comment. `$configPath` will be equal to `/` just in linux systems, and in windows it will be in the different format `C:\`

[2018-01-02 20:34] mikeerickson commented on #13
I am going to be testing with Windows 10 and will update accordingly.  Just wanted to make sure to cover all the possible basis

[2018-01-02 20:35] mikeerickson commented on #13
@guruas3 On the surface, it looks like you adjustments will be satisfactory, but will do some more thorough testing to make sure.

[2018-01-02 21:08] guruas3 commented on #13
@mikeerickson Yeah sure. The problem with my fix is that it depends on the disk where the project is located. So let's suppose i have a project in `D:\MyProjects\etc` the `$configPath` will become `D:\` and not `C:\`. The only thing that comes to my mind is refactor the `while` loop.

[2018-01-02 21:14] mikeerickson commented on #13
I have a solution for this issue, just need to do more testing and adding some other changes planed for next version.

[2018-01-03 11:49] sgrgrsn commented on #11
Hi @LasseRafn

I've installed this printer, and I can still run my tests through PhpStorm with (--teamcity) without any issues.

[2018-01-03 11:50] LasseRafn commented on #11
Hi @sgrgrsn ! That's odd, mine is just completely empty 🤔

Will have to try again I guess, maybe I missed something. I just found that running through PhpStorm does not work, but running phpunit directly does.

Sorry for the trouble

[2018-01-03 11:59] sgrgrsn commented on #11
Weird.. PhpStorm is running this command when I run my tests:
[code]

[2018-01-03 16:01] mikeerickson commented on #11
@sgrgrsn @LasseRafn I have tried many different ways to reproduce this (including various operating systems) and in all cases it works as expected?   I am going to close this issue, however, if you are able to find a 100% reproducible step , please reopen a new issue.

[2018-01-03 16:01] #11 closed

[2018-01-04 16:18] kostaspt opened #17 "Width is not calculated correctly on CircleCI (maybe on other CIs too)"
Maybe there should be an option to print the full line, without looking for the optimal width?

This is a screenshot from CircleCI:
![image](https://user-images.githubusercontent.com/684680/34572969-9175b7ae-f17b-11e7-9da0-2d335648349a.png)

[2018-01-04 17:34] mikeerickson commented on #17
@kostaspt What version are you using?  This issue has already been resolved as of `0.5.0` or higher.

[2018-01-04 17:56] kostaspt commented on #17
@mikeerickson I'm actually using the `0.5.0` version...

![image](https://user-images.githubusercontent.com/684680/34577274-4665313c-f189-11e7-9f00-9e901d3b6cc7.png)

[2018-01-04 17:57] mikeerickson commented on #17
@kostaspt Interesting, we are using with CircleCI internally and all is working as expected.  Let me do some additional debugging on this and will report back.

[2018-01-05 16:51] okaufmann commented on #13
I'm using it on Windows 10

[2018-01-05 22:49] mikeerickson opened #18 "Add `circleci` support"
Add `circleci` support

[2018-01-05 23:16] #18 closed

[2018-01-05 23:17] mikeerickson commented on #17
@kostaspt Just a quick update, I have finally been able to reproduce this, however, I don't have an immediate fix.   I will get this worked out over the weekend.

[2018-01-09 21:47] mikeerickson commented on #17
Fixed in `0.5.1`

[2018-01-09 21:47] #17 closed

[2018-01-13 19:25] alexassuncao opened #20 "Width is not calculated correctly on GitLab CI"
I'm using the 0.5.3 version.

![screenshot from 2018-01-13 17-23-41](https://user-images.githubusercontent.com/30262837/34909359-b2e9c512-f886-11e7-9cb1-f13e6b8cf05c.png)

[2018-01-13 21:19] mikeerickson commented on #20
@alexassuncao would you mind sharing tour `./circleci/circl.yml` file. All is fine here so I am curious what differs

[2018-01-13 21:47] alexassuncao commented on #20
I don have a circl.yml file, i'm using GitLab. My .gitlab-ci.yml is:

stages:
  - requirements
  - test
  # - pre-deploy
  # - deploy
  # - post-deploy
  - docs

cache:
  key: "$CI_JOB_NAME/$CI_COMMIT_REF_NAME"
  paths:
    - vendor

variables:
  MYSQL_DATABASE: root
  MYSQL_ROOT_PASSWORD: root

composer:pipeline:
  stage: requirements
  image: registry.gitlab.com/sandbox-docker-images/base/compos

[2018-01-17 21:42] JayBizzle opened #22 "Empty test class shows incorrect class name"
We have a test class that currently has no tests in it (it's a placeholder until we get time to write the tests).

In this instance, output looks like this....

[code]

That `PHPUnit_Framework_WarningTestCase` line should actually refer to the empty test class which in my case is called `SavedSearchControllerTest`.

No a big deal, but thought i'd mention it incase you weren't aware.

Thanks

[2018-01-23 05:55] Razoxane opened #23 "PHP Parse error: syntax error, unexpected ':', expecting ';' or '{' in src/Printer.php on line 302"
https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/30bd2d7975187b49b3e4eaef7780dd08fa8ae7e1/src/Printer.php#L301

The `: int` appears to be causing the following error message in PHPUnit 5.7.26:

When I remove that text, the package works correctly.
Is it meant to be there for different versions, or is it a typo?

[2018-01-23 16:53] mikeerickson commented on #23
@Razoxane What verison of PHP are you using?

[2018-01-23 23:24] Razoxane commented on #23
5.6.33

[2018-01-24 00:09] mikeerickson commented on #23
@Razoxane That explains the issue (these type hints require PHP 7.x or greater).  However, this is not required for this project,  thus i am going to remove the type hint.

[2018-01-24 00:13] #23 closed

[2018-01-24 00:15] mikeerickson opened #24 "Fix StyleCI issues"
Fix reported StyleCI issues -- https://styleci.io/analyses/zEmdKm

[2018-01-24 00:16] mikeerickson opened #25 "Add TravisCI Support"
Consider moving CI tool from CircleCI to TravisCI

[2018-01-26 20:42] #24 closed

[2018-01-27 20:18] mikeerickson opened #27 "Repeated display of config"
When `cd-printer-show-config` option is enabled, the output is replicated for each test case

![image](https://user-images.githubusercontent.com/183153/35475938-1aad529c-035c-11e8-9135-b3463c0a43d0.png)

[2018-02-04 15:24] dbudwin commented on #25
See pull request #29 for implementation.

[2018-02-04 21:50] #25 closed

[2018-02-04 22:01] dbudwin commented on #25
It appears my commit to remove CircleCI didn't get merged, was that intentional?

[2018-02-04 22:51] mikeerickson commented on #25
Why did you remove circle

[2018-02-04 22:52] mikeerickson commented on #25
Yes it was intentional, as I wanted it there.  That is my preferred CI tool, but wanted to make sure it works with Travis as well for personal reasons.

In the future, please refrain from removing existing code unless it is specifically discussed and confirmed.

[2018-02-07 18:12] tankerkiller125 opened #33 "PHPUnit 7.0 Error"
I'm getting the following error when using PHPUnit ~7.0 and the latest version of this package, is their something maybe I have wrong? Or is this a change in 7.0 that breaks this lib?

[code]

[2018-02-07 18:15] tankerkiller125 commented on #33
Never mind, I have solved this issue, the version in the composer file was actually not allowing the latest version.

[2018-02-07 18:15] #33 closed

[2018-02-12 16:16] godbout opened #34 "Not working with phpunit ~7.0"
phpunit ~7.0 enforces return type:

```public function startTest(Test $test): void```

So the printer fails. I can do a PR but I don't think that should be merged into the master branch. Any advice?

[2018-02-12 16:36] mikeerickson commented on #34
@godbout this issue was resolved in 0.5.6 (we are now on 0.6.0)

[2018-02-12 16:36] #34 closed

[2018-02-12 16:49] godbout commented on #34
😨️
My bad! I seem to have missed something. Thanks @mikeerickson!

[2018-02-12 16:55] mikeerickson commented on #34
@godbout no worries 😉

[2018-02-12 16:57] godbout commented on #34
Strangely my ```composer update``` doesn't seem to catch up. But the version range seems alright ```"codedungeon/phpunit-result-printer": "^0.4.4",``` it should get updated till 1.0.0, no? or am I too drunk already? 😂️

[2018-02-12 17:17] godbout commented on #34
Ok, found out that I was misunderstanding how composer works for **pre-1.0** versions. ```^0.4.4``` means it gets stuck there, while for versions over 1.0 it will go until 2.0. Changed to ```~0.4``` and it's updated now. Thanks! Still learning everyday.

[2018-02-12 18:13] mikeerickson commented on #34
I was just about reply stating to use “~0.6” but you already found that 🤓 if you aren’t learning something new every day, you are awake!

[2018-02-28 06:12] llaski opened #35 "PHPUnit 7 Compatability"
Mostly typehint issues. Example below

[code]

[2018-02-28 06:23] #35 closed

[2018-03-04 17:20] EmanueleCoppola commented on #13
@mikeerickson any news on this?

[2018-03-20 15:03] ntraykov opened #37 "Terminal is hanging when starting phpunit on Windows"
I just installed the extension and put

`<phpunit printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">`

in my phpunit.xml

When trying to run phpunit the terminal just hangs. I can stop the script with ctrl+c, so it doesn't freeze the terminal. The problem is, nothing happens.

I am using Windows 10. Tried with the command prompt, Windows Powershell and GitBash.

[2018-03-20 16:15] mikeerickson commented on #37
PHPUnit Version?
PHP Version?

[2018-03-20 16:18] ntraykov commented on #37
PHPUnit 6.5.7

PHP 7.1.0 (cli)

[2018-03-20 16:53] mikeerickson commented on #37
If any Windows users can comment on this (have you experienced same issue) please let me know.  I will continue to try and reproduce this issue locally

[2018-03-20 17:54] drjekyll commented on #37
I have the same problem.

Windows 10.0.15063
PHPUnit 7.0.2
PHP 7.1.12 (cli)

Adding it to phpunit.xml results in the hang.
Running from command line

`phpunit --printer=Codedungeon\\PHPUnitPrettyResultPrinter\\Printer`

gives "Could not use "Codedungeon\\PHPUnitPrettyResultPrinter\\Printer" as printer: class does not exist"

[2018-03-20 17:55] mikeerickson commented on #37
Can you please share a screenshot of your expanded vendor directory along with `codedungeon` expanded

@drjekyll  @ntraykov

[2018-03-20 18:25] drjekyll commented on #37
This?

On Tue, Mar 20, 2018 at 1:55 PM, Mike Erickson <notifications@github.com>
wrote:

[2018-03-21 07:36] ntraykov commented on #37
Mine is the same:
![vendor](https://user-images.githubusercontent.com/1255356/37698346-1b1c42d4-2ceb-11e8-97ef-8a75a9d5113e.jpg)

Here is how it's hanging:
![haging](https://user-images.githubusercontent.com/1255356/37698367-3feacb12-2ceb-11e8-8418-242d22d9879a.jpg)

[2018-03-21 11:13] ecornelisse opened #38 "php 7.0"
Can we make this php 7.0 compatible? Or is  7.1 absolutely necessary?

[2018-03-21 14:36] Qussayyon commented on #13
@mikeerickson
I'm using PHP 7.2, on Ubuntu 18.04.
Still giving me error:
`Could not use "Codedungeon\PHPUnitPrettyResultPrinter\Printer" as printer`

[2018-03-21 15:35] mikeerickson commented on #37
@ntraykov OK, thank you for this information, I will move forward with further testing to reproduce this issue.

[2018-03-21 18:37] peterlupu commented on #37
what about this code here?

# Printer::getConfigurationFile()

[code]

[2018-03-21 19:06] peterlupu commented on #13
for those on windows, see #39

[2018-03-21 19:10] mikeerickson commented on #37
This looks good, will be merging PR and tagging this afternoon.

[2018-03-21 19:11] mikeerickson commented on #13
As commented on #39 I will be merging and tagging this afternoon.

[2018-03-21 20:53] mikeerickson commented on #13
Fixed with #39

[2018-03-21 20:53] #13 closed

[2018-03-21 21:24] ntraykov commented on #37
Thank you so much, guys!

[2018-03-21 23:11] mikeerickson commented on #38
I am going to take a stab at this over the weekend and see if I can refactor to work within PHP 7.0.x

[2018-03-22 18:47] drjekyll commented on #37
After updating to 7.0 I still get the "class does not exist" when running from the command line. But, when I add the "printerClass" attribute in phpunit.xml it works!  It throws a "The system cannot find the path specified." error immediately after typing phpunit - but it works and gives me the pretty output.

[2018-03-23 10:07] erdmenchen commented on #37
Same here. It works but throws a "The system cannot find the path specified" error.

Windows 10 (x64)
Version 0.7.0
PHP 7.2.2
PHPUnit 7.0.1

[2018-03-23 15:35] mikeerickson commented on #37
Hey gang, I will be cleaning this mess over the weekend. My apologies

[2018-03-23 19:53] #38 closed

[2018-03-23 19:59] mikeerickson opened #40 "Report writing appeasrs correctly, but then throws an error"
With version >= 0.7 the report writer will correctly display, however, it throws an error upon completion

[code]

[2018-03-23 19:59] #40 closed

[2018-03-23 20:02] mikeerickson commented on #37
Hey gang, I had time to work on this project before the weekend and have cured the above noted issues.   Please upgrade to the `0.8.1` or greater release :-)

@erdmenchen @drjekyll

[2018-03-24 18:18] rdpascua opened #43 "Declaration not compatible with phpunit 7.0"
[code]

[2018-03-24 18:29] ricardoaugusto opened #44 "How do I fix the "Return value must be an instance of Codedungeon\PHPUnitPrettyResultPrinter\void" ?"
Output is:

[code]

[2018-03-24 20:16] mikeerickson commented on #43
I am working on a fix for this every issue

[2018-03-24 20:17] mikeerickson commented on #44
I am working on a fix for this very issue. If you install `0.8.2` it should work in the interim

[2018-03-25 13:48] ntraykov commented on #37
Sorry for the delay. It works perfectly on my side. Thank you! :)

[2018-03-25 17:08] t202wes opened #45 "PHP Fatal error: Declaration of Codedungeon\PHPUnitPrettyResultPrinter\Printer::writeProgress($progress) must be compatible with PHPUnit\TextUI\ResultPrinter::writeProgress($progress): void in /home/vagrant/mailsoft/vendor/codedungeon/phpunit-result-printer/src/Printer.php on line 36"
[code]

[2018-03-25 18:43] mikeerickson commented on #45
I am aware of the issue and have a fix ready which will fix the issue.  An update will be posted later this afternoon

[2018-03-25 18:44] mikeerickson commented on #45
Duplicate of #43

[2018-03-25 18:44] #45 closed

[2018-03-25 21:13] mikeerickson commented on #44
Fixed in `0.9.0` release

[2018-03-25 21:13] #44 closed

[2018-03-25 21:13] mikeerickson commented on #45
Fixed in `0.9.0` release

[2018-03-25 21:14] mikeerickson commented on #43
Fixed in `0.9.0` release

[2018-03-25 21:14] mikeerickson commented on #40
Fixed in `0.9.0` release

[2018-03-26 08:25] erdmenchen commented on #37
I tried the version 0.8.1 and I am getting the following error now:

Fatal error: Declaration of Codedungeon\PHPUnitPrettyResultPrinter\Printer::writeProgress($progress) must be compatible with PHPUnit\TextUI\ResultPrinter::writeProgress($progress): void in J:\Users\Michal\Code\GitRepos\logima-tempo-dashboard\vendor\codedungeon\phpunit-result-printer\src\Printer.php on line 36

[2018-03-26 14:56] mikeerickson commented on #37
This has been cured by the 0.9.x release posted yesterday

[2018-03-26 15:05] AdrianHL opened #49 "Drop PHP 5.6 from Travis"
The package limits PHP to version ^7.0 but Travis has a 5.6 case

PR - #48

[2018-03-26 15:06] AdrianHL opened #50 "Simple Output for passed and failed test output"
Include failed (F) and pass symbols (.) as strings when simple output is set instead of icons

PR - #47

[2018-03-26 19:47] harmenjanssen opened #51 "Return type void incompatible with php 7.0"
As of tag `0.8.4` the Printer is declaring `void` as return type for certain methods.
However, `void` is only available to PHP7.1 and up.

Your `composer.json` specifies:

[code]

This serves incompatible code to PHP7.0 environments.
The PHP requirement in `composer.json` should be updated to reflect the new dependency on PHP7.1, in order to prevent people running PHP7.0 from downloading this vers

[2018-03-26 20:29] mikeerickson commented on #51
This has been fixed in 0.9.x which was posted yesterday

[2018-03-26 22:28] erdmenchen commented on #37
Ok, I tried v0.9.1 but still, the "The system cannot find the path specified." error is printed...

[2018-03-26 23:58] mikeerickson commented on #37
@erdmenchen Hmmm, this is puzzling.  I am testing locally and all is working fine?  I am curious what differs between our two setups?  @peterlupu Any chance you can install `0.9.1` and give this a try.

[2018-03-27 05:00] harmenjanssen commented on #51
Hm, I'm not trying to be smart, but 0.9.3 still specifies `7.0` as opposed to `7.1`?
See also: https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/v0.9.3/composer.json

[2018-03-27 07:52] nikolaposa opened #53 "Set PHP version requirement to 7.1"
PHP version requirement should be set to 7.1, as certain features specific for that version are used in some places. For example, `void` return type is used here: https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/master/src/Printer.php#L160.

[2018-03-27 13:50] mikeerickson commented on #53
The project does indeed support PHP 7.0, we take measures to check what version of PHP Is installed and branch code accordingly.

[2018-03-27 13:50] #53 closed

[2018-03-27 13:51] mikeerickson commented on #51
This is because it does indeed support PHP 7.0. I have local installations working against PHP 7.0.22 and all is working

[2018-03-27 14:14] harmenjanssen commented on #51
I'm running PHP 7.0.27 and it's giving me the following error:

[code]

This also lists `void` as a new PHP7.1 feature: http://php.net/manual/en/migration71.new-features.php

[2018-03-27 14:41] nikolaposa commented on #53
It happened to me that Composer installed latest version of this library on a PHP 7.0 machine after I required it (`composer require --dev codedungeon/phpunit-result-printer`) and of course it failed to work due to above mentioned `void` return type. If PHP version requirement was properly set Composer would not allow me to install it on a PHP 7.0 machine.

[2018-03-27 14:53] mikeerickson commented on #53
@nikoloaposa can you please confirm which version you have installed.  As of 0.9.x this issue should be resolved.  All is working correctly in my testing?

- PHP Version
- PHPUnit Version
- PHPUnit Printer version

[2018-03-27 15:28] mikeerickson commented on #51
What version of PHPUnit are you using?

[2018-03-27 15:29] mikeerickson commented on #53
@nikolaposa Hey there, just tagging you again, seems the above message used wrong handle :-)

[2018-03-27 15:38] #51 closed

[2018-03-27 15:53] #49 closed

[2018-03-27 15:57] mikeerickson commented on #53
This has been added to the `0.10.x` release, too much hackiness to support PHP 7.0.x

[2018-03-27 15:58] mikeerickson commented on #51
I have updated the minimum version for this package to PHP 7.1.x, too much hackiness required to support PHP 7.0.x.  My apologies for the continued issues, hopefully things will now stabilize.

[2018-03-27 15:58] mikeerickson commented on #37
I have updated the minimum version for this package to PHP 7.1.x, too much hackiness required to support PHP 7.0.x. My apologies for the continued issues, hopefully things will now stabilize.

[2018-03-27 15:58] #37 closed

[2018-03-27 15:59] harmenjanssen commented on #51
Yes, no worries, I've frozen my dependency on `pretty-result-printer` to version `0.8.3` and that works fine for me 🙂

For the record, this is my version information:

[code]

[2018-03-27 16:04] mikeerickson opened #55 "Add support for custom test markers"
Currently, the various test markers which are displayed are hard coded (sensible) values.

This feature will provide ability for developer to result markers using the `phpunit-printer.yml` configuration file (where all other configuration occurs)

[2018-03-27 17:37] mikeerickson commented on #51
I have done the same thing for internal projects (which have same version for php and PHPUnit)

[2018-03-27 17:41] nikolaposa commented on #53
Hi @mikeerickson,

I installed 0.9.3 when I discovered this issue.

[2018-03-27 21:14] erdmenchen opened #56 "Error on Windows: The system cannot find the path specified"
On Windows I keep getting the "The system cannot find the path specified." error when running phpunit with the php-pretty-result-printer installed.

Tests run fine but error message is annoying.

Version information:
Windows 10 (x64) - 1709
phpunit-pretty-result-printer v0.10.1
PHP 7.2.2
PHPUnit 7.0.1

[2018-03-27 21:28] erdmenchen commented on #56
The error is printed due to the line

https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/d70f84e14209db4f2a5e881ee07d7aeb1a6078ee/src/Printer.php#L332

This does not seem to work on Windows...

[2018-03-27 22:31] #56 closed

[2018-03-27 22:32] #50 closed

[2018-03-27 22:32] #27 closed

[2018-03-27 22:32] #20 closed

[2018-03-27 22:33] mikeerickson commented on #56
@erdmenchen can you please test against `0.11.0` which was just posted (caught me just before I published new version)

[2018-03-28 07:44] erdmenchen commented on #56
I can confirm, now the error message is not shown anymore.
Thanks a lot!

[2018-03-28 13:30] permadiwibisono opened #59 "Error when composer require codedungeon/phpunit-result-printer@^0.8 --dev"
I got error in my terminal:
[Composer\Downloader\TransportException]
  The "http://packagist.org/p/provider-2018-01%24bf6dfbd24258ae775d775a25568400d088a62534c6c3de33fba60da6776dacf1.json" file could not be downloaded (HT
  TP/1.1 302 Found)

I'm using:
- Lumen v5.4
- php v7.0.9
- phpunit v5.7.27

[2018-03-28 15:36] mikeerickson commented on #56
@erdmenchen Awesome, thank you!

[2018-03-28 15:38] mikeerickson commented on #59
How did you attempt to install?

[2018-03-28 15:42] mikeerickson commented on #59
Please try just to make certain

`composer require codedungeon/phpunit-result-printer:0.8.2`

When using PHP 7.0.x, you will need to use the compatibility version of `0.8.2` as all newer versions require PHP `7.1`

[2018-03-28 16:22] permadiwibisono commented on #59
`v0.8.2` compatible too in PHP `7.1`?

[2018-03-28 16:28] mikeerickson commented on #59
No, you will need to use `>= 0.11.0`

[2018-03-28 16:29] mikeerickson commented on #59
Moving forward, there is a minimum PHP version of `7.1`

[2018-03-28 17:24] permadiwibisono commented on #59
The problem is, I'm using php7.0 in my local development using lampp and my server production using php7.1. So, I cannot using this package. Must re-install my lampp into newer php version. Because there is  no solution to upgrade php only in lampp.

[2018-03-28 18:05] mikeerickson commented on #59
@permadiwibisono Good news... I just tested `0.8.2` with `PHPUnit 5.7.27` and `PHP v7.1.3` and all is working just fine.

[2018-03-28 18:08] mikeerickson commented on #59
[code]

[2018-03-28 18:08] #59 closed

[2018-03-29 07:00] iraklisg commented on #44
@mikeerickson I use `0.9.3` and I am having the same error :confused:

[code]

[2018-03-29 15:55] mikeerickson commented on #44
@iraklisg this should be all clear now, please install the latest version (we are currently on `0.11.2`)

[2018-04-02 07:16] dhddev commented on #44
@mikeerickson I do confirm that using `0.11.2` the package works as expected :+1:

[2018-04-02 07:17] iraklisg commented on #44
@mikeerickson indeed version `0.11.2` works as expected :+1:

[2018-04-06 16:12] tarlepp opened #63 "Library not compatible with PHPUnit 7.1.1"
I noticed that library isn't currently compatible with PHPUnit 7.1

[code]

[2018-04-06 16:30] mikeerickson commented on #63
what version do you have installed.  The current version is definitely compatible with PHPUnit 7.1

[2018-04-06 16:31] mikeerickson commented on #63
versions `0.11.2` and greater is working with PHPUnit 7.1 (I just ran compatibility testing

[2018-04-06 16:33] tarlepp commented on #63
@mikeerickson If I update to `"phpunit/phpunit": "7.1.1"` I'm getting that error:

[code]

[2018-04-06 16:35] mikeerickson commented on #63
Ah, wait my error here.  You clearly stated PHPUnit 7.1 (I kept reading and referencing PHP 7.1). I have only verified against PHPunit 7.0.3.

I will test against all available versions of PHPUnit shortly.

[2018-04-06 17:06] mikeerickson commented on #63
Can you please test the `0.12.0` version I just posted.

[2018-04-06 17:32] tarlepp commented on #63
@mikeerickson nope, still getting:

[code]

See the PHPUnit source: https://github.com/sebastianbergmann/phpunit/blob/master/src%2FTextUI%2FResultPrinter.php#L489 and compare that to your https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/master/src/Printer.php#L132

[2018-04-06 17:35] tarlepp commented on #63
Also same error will occur with `protected function writeProgressWithColor($color, $buffer): void` which should be `protected function writeProgressWithColor(string $color, string $buffer): void`

And maybe some another methods may have similar methods.

[2018-04-06 17:37] tarlepp commented on #63
Also you can see those warnings (errors on my case - because I use `declare(strict_types = 1);`) on your TravisCI https://travis-ci.org/mikeerickson/phpunit-pretty-result-printer/jobs/363210307

[2018-04-06 17:41] mikeerickson commented on #63
Yes, I am seeing these now, I committed a "bad" version, working on fixing this issue now.  Got messed up with some merge conflicts and selected the "wrong" code.

[2018-04-06 17:47] mikeerickson commented on #63
@tarlepp OK, all should be cleared now, version `0.12.1` posted and tested clean locally.  My apologies for the confusion

[2018-04-06 17:50] #63 closed

[2018-04-06 17:53] tarlepp commented on #63
@mikeerickson yeah seems to work like a charm with `0.12.1` - and thanks for quick response about this issue.

[2018-04-06 17:54] mikeerickson commented on #63
@tarlepp No worries, glad I was able to turn it around quickly.  I just happened to be working on some other OSS stuff so I was able to jump on this one.   Thank you for the report :-)

[2018-04-06 18:00] tarlepp opened #67 "Alignments of test marks on first line if/when there is "couple" of tests"
Picture below should show this problem
![image](https://user-images.githubusercontent.com/595561/38436511-73e2a044-39dd-11e8-8a52-df7ccd1663bb.png)

[2018-04-07 00:07] mikeerickson commented on #67
@tarlepp I have just posted `0.12.2` to address this issue.  The CUT should be printed for each, but had a regression error

[2018-04-07 00:07] #67 closed

[2018-04-07 00:08] mikeerickson commented on #67
I should appear as

![image](https://user-images.githubusercontent.com/183153/38448882-1f330162-39bd-11e8-89c9-469382dc2f64.png)

[2018-04-07 03:25] napestershine opened #69 "Fresh installation gives bunch of warnings"
HI @mikeerickson

I just installed in my fresh new project. Works well. Thanks so much.

But it also sends a bunch of warnings.

[code]

[2018-04-07 12:15] tarlepp commented on #67
@mikeerickson yeah that `0.12.2` seems to fix that - thanks once again!

[2018-04-07 16:29] mikeerickson commented on #69
What version of PHPUnit are you using?

[2018-04-07 18:35] mikeerickson commented on #69
@napestershine All should be good to go now, my apologies for issues.  Please install the latest version `0.13.0`

[2018-04-08 01:07] nabeelio commented on #43
Seems like this is broken again, I'm on 0.9.3 and PHPUnit 7.1.1.

[code]

[2018-04-08 03:52] napestershine commented on #69
@mikeerickson shall i do composer update ?

[2018-04-08 14:43] mikeerickson commented on #69
Yes indeed

[2018-04-08 14:46] mikeerickson commented on #43
The latest version `0.13.0` has been updated to address this issue with PHPUnit 7.1.1.  They changed the signature from 7.0

It changed 3x in 6.5 -> 7.0.x -> 7.1.x

[2018-04-08 14:46] mikeerickson commented on #43
The latest version `0.13.0` has been updated to address this issue with PHPUnit 7.1.1.  They changed the signature from 7.0

It changed 3x in 6.5 -> 7.0.x -> 7.1.x

[2018-04-08 14:52] nabeelio commented on #43
Thanks. It's a little annoying that PHP requires the signature to match. Makes it hard to override things.

[2018-04-08 16:46] mikeerickson commented on #43
Tell me about it!  And to force the change from PHPUnit perspective between 7.0 and 7.1 is annoying.  I am currently working on keeping it from being broken at least the rest of 7.x (7.2, 7.3 etc)

[2018-04-08 16:46] #43 closed

[2018-04-09 02:10] amberlampsio opened #72 "Noticed this bug on my gitlab runner build"
[code]

php 7.1.16

[2018-04-09 09:07] ecornelisse opened #73 "php 7.0 compatibility broken"
The composer states:
    ```"php": "^7.0",```

while the code contains:

```        public function startTest(\PHPUnit\Framework\Test $test): void```

will result in:

[code]

 `:void` return types only work in php 7.2+ and therefor it will break when using < 7.2

[2018-04-09 12:54] napestershine commented on #69
working perfectly. 👍

[2018-04-09 15:17] mikeerickson commented on #69
Awesome, glad to hear

[2018-04-09 15:18] mikeerickson commented on #73
You will need to install the compatibility version `0.11.2`

[2018-04-09 15:18] #73 closed

[2018-04-09 19:30] #69 closed

[2018-04-11 15:42] #3 closed

[2018-04-11 15:42] #2 closed

[2018-04-12 04:38] tobz-nz opened #74 "Ambiguous class resolution"
I'm getting this warning when installing/updating composer:

Is there a way to fix this?

php 7.2.4 (brew)
Laravel 5.6 (phpunit ~7.0)

[code]

[2018-04-12 15:24] mikeerickson commented on #74
The warnings are harmless.  I have to maintain 4 separate Result Printers based on the version of PHPUnit that is being used (5, 6, 7.0 and 7.1). This error is prompted because of the 4 different classes with same name being exported as _ResultPrinter (all with different signatures) which then extend PHPUnit ResultPrinter class.

Mike Erickson
codedungeon@gmail.com

[2018-04-16 03:10] tobz-nz commented on #74
I know warning are harmless, except for looking terrible and unprofessional in my opinion.
Wouldn't it make more sense to just name the classes separately and let eh user load the correct one for their setup?

Or load the correct class in the version check - instead of defining the class.

I'm just saying it shouldn't be too difficult to not have the warnings.

[2018-04-16 03:31] mikeerickson commented on #74
I Have a few different ideas of how l want to handle this, I just need to pick the approach that Is maintainable.

[2018-04-16 03:33] mikeerickson commented on #74
Like all things related to OSS allocating the time is minor hurdle.  I try to be all things to all people, but that sometimes not easy. I will get it addressed as soon as possible.

[2018-04-16 05:37] assertchris commented on #74
Fixed in https://github.com/mikeerickson/phpunit-pretty-result-printer/pull/75

[2018-04-16 18:16] #74 closed

[2018-04-17 17:42] mikeerickson commented on #55
Added in `0.15.0` release

[2018-04-17 17:42] #55 closed

[2018-04-20 09:58] jasonsaayman opened #81 "Compatibility with PHP Unit 7 ResultsPrinter interface"
Hi

It seems that the Printer.php file is not compatible with the  _ResultsPrinter interface in PHP unit 7.

Two functions are affected, that being `writeProgress` and `writeProgressWithColor`.

**writeProgress changes**
_From:_
` ...
protected function writeProgress($progress)
...`
_To:_
`...
protected function writeProgress(string $progress): void
...`

**writeProgressWithColor changes**
_From:_

[2018-04-20 10:06] #81 closed

[2018-04-20 16:49] mikeerickson opened #82 "Merge all settings files when loading config"
Currently, the method for loading configuration data is only pulled from the final found file.

This has led to an issue whereby if users has a `phpunit-printer.yml` file somewhere in the checked paths, it will override `default` settings which are located in the `<project>/phpunit-printer.yml` file which all sensible defaults are found.

[2018-04-20 20:46] mikeerickson commented on #82
https://github.com/hassankhan/config

[2018-04-21 06:27] jasonsaayman commented on #81
Hi Mike

Sorry I realized after creating this issue that I was on an older version. Upgrading to the newest version fixed this issue.

Thank you

[2018-04-21 15:02] mikeerickson commented on #81
Awesome, happy to hear.  We’ve spent quite a bit of time over last few weeks ironing out all these types of issues, very confident we have addressed them all, thus reason for asking

[2018-04-21 18:28] #82 closed

[2018-04-23 19:00] regiszanandrea opened #84 "Class 'PHPUnit\Runner\Version' not found in codedungeon/phpunit-result-printer/src/Printer.php on line 15"
Hi,

I got this error when I tried to run phpunit with the package:

`Uncaught Error: Class 'PHPUnit\Runner\Version' not found in codedungeon/phpunit-result-printer/src/Printer.php on line 15`

Config:
- Laravel: 5.4
- PHPUnit: 5.7
- PHP: 7.1
- codedungeon/phpunit-result-printer: 0.16.1

Can anyone can help with this?

[2018-04-23 19:09] #84 closed, assigned to nobody

[2018-04-23 19:39] mikeerickson commented on #84
You can surely use PHPUnit 7.0, it just requires version 0.18.2 (which is documented)  having said that, I have intentions to make this clearer in the documentation.

[2018-05-01 21:17] Braunson opened #86 "Misaligned status marks"
When running a test with both passing and failing tests the marks are mis-aligned. See my example

![](https://goo.gl/TSL6Y4)

[2018-05-01 21:32] mikeerickson commented on #86
Oh wow, that is strange

- what version of library are you using
- what OS
- what terminal?

[2018-05-01 21:43] Braunson commented on #86
@mikeerickson

Laravel: 5.5
Package: `^0.16.1` (latest)
OS: Windows 10
Terminal: SmarTTY v2.2

[2018-05-01 22:33] mikeerickson commented on #86
OK, I am going to setup a VM to match what you are using and debug this. My apologies for the issue

[2018-05-01 23:17] Braunson commented on #86
No need to apologise :), thanks for looking into this!

[2018-05-03 14:30] roelofjan-elsinga opened #88 "Check mark outlining bug"
![print bug](https://user-images.githubusercontent.com/9220754/39582771-f54a5c50-4eee-11e8-838a-43a9bd8f4de4.png)
Hi, I get this outlining. I didn't change any of the default configuration. This is a docker container, running Ubuntu 16.04. I didn't see anything similar in the other issues, so I thought I'd bring this to your attention. If it's a duplicate, you can just remove this.

[2018-05-03 16:28] mikeerickson commented on #88
@roelofjan-elsinga Of course when I attempt to reproduce the issue, all works fine on my end :-( I will continue debugging and try to reproduce.

[2018-05-03 16:33] mikeerickson commented on #88
How are you running these tests?  Are you `exec` into the container, or using something like vessel?

[2018-05-03 16:35] mikeerickson commented on #88
I remember in the past when I was working on some test work for my employer with old tests, there was some code within the test to force line feed after each test (it was actually buried in the TestCase).  Any chance there is something like this in your code.

When testing without result printer, does it show normal dots across the screen, or does it also add the line feed?

[2018-05-03 16:44] mikeerickson commented on #88
Are you using Laravel (cant tell for sure based on directory structure) but I am guessing yes.

[2018-05-04 04:54] roelofjan-elsinga commented on #88
I am using Laravel indeed. The tests are run by logging in into the container through docker exec -it container_name bash. I'll get back to you on the default printer. I think I'll also look into TestCase, because I think you may have something there!

[2018-05-04 10:36] roelofjan-elsinga commented on #88
I've looked into the default printing, this also has the newline bug. So I'm assuming it also has to do with the TestCase class in my case. Since this has nothing to do with your printer, I'll close my issue.

[2018-05-04 10:36] #88 closed

[2018-05-04 12:59] roelofjan-elsinga commented on #88
Just in case anyone else gets this behaviour:

You probably have a space or enter after ?> or before <?php. Yes, it's really that simple.

[2018-05-04 14:32] mikeerickson commented on #88
Glad you tracked it down, I had a strong feeling it was something like this (it only because I have experienced it myself as noted)

[2018-05-08 07:56] czim opened #89 "Might be nice to have an additional marker for 'Risky' tests"
This displays the default (yellow) R marker, still.

I don't mind making a PR for this, but I don't have much time to spare, so it would take a while before I get around to it.

[2018-05-08 14:11] mikeerickson commented on #89
I like the idea, I will add it today (working on a few other items as well)

[2018-05-09 02:11] #89 closed

[2018-05-16 13:33] jwhulette commented on #86
![1__default__bash_](https://user-images.githubusercontent.com/4930051/40119467-ca8e2482-58ea-11e8-9683-36ea021e5c7c.png)
I have sort of the same issue.

Laravel: 5.5
PHPUnit: ^7
OS: Mac OS 10.13.4
Issue occurs in: Iterm2, VSCode Terminal

[2018-05-16 17:19] mikeerickson commented on #86
Thank you for the report, I will see what I can reproduce along these parameters.

[2018-05-20 17:03] mikeerickson opened #104 "Sporadically incorrect marker display"
Figure out why the markers do properly wrap sporadically.  Sometimes the icons appear properly aligned.

![image](https://user-images.githubusercontent.com/183153/40281304-f197d690-5c14-11e8-9937-88012884f1a1.png)

[2018-06-20 18:54] mpjraaij opened #111 "PHP Fatal error"
Hi there,

I'm using version 0.19.10 with PHPUnit 7.2.4 and get the following error:

[code]

[2018-06-20 18:58] #111 closed

[2018-08-10 01:34] mikeerickson commented on #86
@jwhulette would you mind testing this with the `0.19.13` release (just tagged)

[2018-08-10 01:35] mikeerickson opened #114 "Adjust code which calculates terminal width"
I have done this with another project and need to migrate that code to this repo

[2018-08-10 13:27] jwhulette commented on #86
@mikeerickson That looks like it fixed it. Thanks so much!!

[2018-08-10 15:00] mikeerickson commented on #86
@jwhulette thank you very much for confirming!

[2018-08-10 15:00] #86 closed

[2018-09-16 09:49] bueltge opened #118 "Missing files"
At first thanks a lot for your library that me get a really fast overview about my tests. I use it since linger times.

Currently I have problems in a project, that use the library. After`composer update` the version 0.20.1 is active and I get always the error message
[code]

Maybe you have a hint for me, always the init. php and the json file is missed.

The problem is still existent on local cli

[2018-09-16 18:35] mikeerickson commented on #118
Quite puzzling as some of the files missing appear to also be PHPUnit files.  Could you trying uninstall and reinstalling PHPUnit and result printer.  Maybe a permissions issue as well.

[2018-09-16 19:52] bueltge commented on #118
I have tried this i several different updates, no chance to get the missing files. I opened this issue because the problem is still existent on Travis, see the log file on this example project - https://travis-ci.org/bueltge/marksimple/jobs/429185866
So I think is not a permission problem, is on my local machine and also on Travis client.

However thanks for your fast reply!

[2018-09-17 01:28] mikeerickson commented on #118
@bueltge my apologies for issue. I will get this resolved tomorrow when I return to work. Try to keep family time sacred on weekends 🤓

[2018-09-18 19:29] mikeerickson commented on #118
@bueltge can you please try using the following command in terminal.  I am really puzzled on this one. I have tried a variety of methods to reproduce this, but it always works

[code]

In addition, perhaps delete the existing package (and remove entry from `composer.json`)

[code]
After deletion, then run the composer command above

[2018-09-18 19:56] bueltge commented on #118
Hi @mikeerickson Thanks for your feedback.

At first I tried to remove the the entry from the `composer.json`
`"codedungeon/phpunit-result-printer": "^0.20"` on require-dev and after a `composer update` the directory `vendor/codedungeon/` is deleted. So that `rm -rf vendor/codedungeon/..` is not possible.

Now I tried to add the package completely new with `composer require codedungeon/phpunit-res

[2018-09-18 20:10] mikeerickson commented on #118
What is your operating system?

[2018-09-19 11:29] dingo-d opened #119 "Timeout when running test that generates coverage"
I have an issue when running unit tests that generate code coverage, and this started to happen after I added this package.

I get the following message

  The process "'/usr/local/Cellar/php/7.2.4_1/bin/php' -d allow_url_fopen='1' -d disable_functions='' -d memory_limit='1536M' vendor/bin/phpunit -c phpunit-unit.xml.dist" exce
  eded the timeout of 300 seconds.

The unit test that I run without c

[2018-09-19 13:58] dingo-d commented on #119
Ok, I think I found out where the issue lies - I'm running PHPUnit via composer script, and I needed to add `"process-timeout": 600` to my `config` value in the `composer.json`

[2018-09-19 13:58] #119 closed

[2018-09-19 16:50] mikeerickson commented on #119
@dingo-d glad you got it figured out. Seemed out of range for this extension, but good to know nonetheless

[2018-09-20 03:48] mikeerickson commented on #118
@bueltge I have published a new version `0.20.3` which is now passing all travis tests and I am able to install into the same configuration you have described above (using a docker container)

Can you please test this build and let me know if you still have issues.

[2018-09-20 07:02] dingo-d commented on #119
Yeah, also if anybody has an issue with colors not working in the composer scripts, you need to add `--colors=always` in the scripts.

🙂

[2018-09-20 16:31] mikeerickson commented on #119
That is a PHPUnit setting, we just use the default.   FWIW you can also set these items in the `phpunit.xml` file

[2018-09-21 07:51] dingo-d commented on #119
I had them in the `phpunit.xml.dist`, but when running the composer script the colors didn't work for some reason 🤷‍♂️

[2018-09-21 08:12] dingo-d opened #120 "Not working on php 7.2?"
I tried to update the version of the package in my composer to the `0.20.3` and when I hit `composer update` I got

    - Installation request for codedungeon/phpunit-result-printer ^0.20.3 -> satisfiable by codedungeon/phpunit-result-printer[0.20.3].
    - codedungeon/phpunit-result-printer 0.20.3 requires php ^7.1 -> your PHP version (7.2.4) overridden by "config.platform.php" version (7.0) does

[2018-09-21 08:16] dingo-d commented on #120
Nvm, I figured it out. I had `platform` set to php 7 in the config in the project.

[2018-09-21 08:16] #120 closed

[2018-09-21 16:42] bueltge commented on #118
Hi @mikeerickson
Now I found the time to play again, but always the same problem. Yes it updates to 0.20.3, but the files are also missed. Only the this directory structure
 - vendor/codedungeon
   - php-cli-colors
   - phpunit-result-printer

[2018-09-21 17:35] mikeerickson commented on #118
My goodness, this is so bizarre. I am at a loss as to what could be interfering. If you install 0.20.1 does it work?

[2018-09-21 19:18] bueltge commented on #118
No, update to the lower version 0.20.1 have the same result.

I have also try to create a completely new project, new directory and start from zero, only a composer.json include the require-dev definition.
The result on `composer install` for your package

[code]

After this the same problem, only the directory structure like above and missing the files outside this, also the `init.php`.

[2018-09-27 10:10] DanielBadura opened #121 "Running time for every test"
It would be awesome to get some more information for every test that is running. For example the execution time for the test and the test method name or the description.

I found another pretty printer that does something similar: https://github.com/sempro/phpunit-pretty-print

Maybe we can take this as an inspiration?

[2018-09-27 15:10] mikeerickson commented on #121
I will have a look at this project

[2018-09-27 18:50] mikeerickson commented on #118
If any of you are using the same machine configuration as defined by @bueltge could you please see if you are experiencing the same issue?  I am really puzzled on this one as it works fine her

I have tested using

- macOS
- windows
- linux (running in a docker container)

[2018-09-27 20:27] bueltge commented on #118
Hi @mikeerickson
thanks for your time and willing to help.
I check a lot fo thinks, but I can't find any problem. I checked also all packages there I use and in each package, the first directory below from vendor/username is always only a directory, never a single file. So that I mean you should all files include in `src`. In each directory of other projects is it only the same structure

* vendor

[2018-09-28 09:43] ArondeParon opened #122 "Disable Anybar by default"
Our CI systems started generating exceptions when using the `0.20.*` build. We downgraded to `0.19.14` and noticed that the error was resolved.

When comparing the differences between these versions, the biggest change is the introduction of Anybar support.

I don't have Anybar installed, and tests seem to be working fine when running them locally on my Mac Os machine, but when running them in our

[2018-09-28 15:31] mikeerickson commented on #122
My sincerest apologies, I didn’t know there would be any harm.  I will post a new patch today to mark this as false by default

[2018-09-28 16:43] bueltge commented on #118
Additional idea. I think I get always only the files in `src`, defined in your composer.json. Maybe you should add this two important files as require, see [composer schema](https://getcomposer.org/doc/04-schema.md#files).

I mean like below:
[code]

[2018-09-28 18:33] #122 closed

[2018-09-28 18:35] mikeerickson commented on #118
@bueltge I have adjusted the `composer.json` to include these references.  If you could please test [0.21.0](https://github.com/mikeerickson/phpunit-pretty-result-printer/releases/tag/0.21.0) `https://github.com/mikeerickson/phpunit-pretty-result-printer/releases/tag/0.21.0` and let me know if it cures your issue, I would greatly appreciate it.

[2018-09-28 18:36] mikeerickson commented on #122
@ArondeParon Hey there, just wanted to let you know, I have tagged a new release `0.21.0` to turn this off by default.  Again, my apologies on letting this slip through.

[2018-09-28 18:43] bueltge commented on #118
It works! :tada:

Now, after a simple `composer update` are this two files are include the directory of the project `codedungeon/phpunit-result-printer`.

my terminal:
[code]
And the result inside my file browser:
![image](https://user-images.githubusercontent.com/133425/46227181-aa853980-c35e-11e8-91e4-e7c21c75e3dd.png)

Really great, thanks a lot for your patience and quick trials.

[2018-09-28 19:05] wells commented on #118
`v0.21` also creates a `phpunit-printer.yml` file in my application directory whenever php runs, whereas before it silently used a default configuration.

I can also confirm that it displays configuration on every php unit run on macOS.
[code]

[2018-09-28 19:08] mikeerickson commented on #118
I have already seen this issue (that is an artifact of the addition of files in the files section of autoload.  I have removed these items as that is NOT the cure to this problem (there has been a new version posted 0.21.1 which addresses this very issue)

[2018-09-28 19:11] mikeerickson commented on #118
@bueltge BUT, I have a solution (just thought about this)   Let me give it a whirl here and see what happens

[2018-09-28 19:31] mikeerickson commented on #118
@bueltge OK, I think I have a working solution.  Will you be around to test?  What time is it where you live?  I am in USA PST (it is 1231 right now)

[2018-09-28 19:35] bueltge commented on #118
I'm in Europe, Germany, timezone Berlin. Currently 2131. I can test for now, also for the next 1h. But never after Sunday, 2 weeks holiday offline.

[2018-09-28 19:44] mikeerickson commented on #118
OK, I will be posting a new build `0.22.0` now

[2018-09-28 19:45] #118 closed

[2018-09-28 19:46] mikeerickson commented on #118
Note: The init command should be as follows (moved the `init.php` and `phpunit-printer.yml` files into `src` directory(

`php ./vendor/codedungeon/phpunit-result-printer/src/init.php`

[2018-09-28 19:54] bueltge commented on #118
:tada: No problems with this version. All files are in `src`and it works. The call via console to the init.php works also really well.
Thanks a lot!

[2018-09-28 19:56] mikeerickson commented on #118
@bueltge Awesome!  Thanks for confirmation and enjoy your holiday :-)

[2018-09-28 19:57] bueltge commented on #118
Thanks a lot! Nice result before holidays.

[2018-09-29 14:41] ArondeParon commented on #122
No worries @mikeerickson! Can't catch every bug at once! 👍

Thanks for the quick fix.

[2018-10-02 12:44] DanielBadura commented on #121
Yes i meant the time for each test that executes. With this the need of the method name (or an description) come with it. Otherwise you cannot determine for which test the execution time is.

[2018-10-03 09:04] kanatkubash opened #125 "Pretty print assertions"
It would be great if assertions were prettified as in mocha:

![image](https://user-images.githubusercontent.com/5927933/46400875-42977000-c71d-11e8-88b2-da412c6e2ff2.png)

[2018-10-03 16:40] mikeerickson commented on #121
@DanielBadura I don't see the benefit of adding this support to our project as it would basically been quite similar to what the project in question provides.  If you want to see the verbosity of displaying execution time for each method name, I would think it would be easier just to use that project.

[2018-10-03 16:40] #121 closed

[2018-10-03 16:48] mikeerickson commented on #125
@kanatkubash I am trying to figure out exactly what you are asking for here?  Using the sample output below (which covers all supported PHPUnit test results), what are you proposing

![image](https://user-images.githubusercontent.com/183153/46425760-6644c100-c6f1-11e8-9242-791165a95b5a.png)

[2018-10-03 21:36] kanatkubash commented on #125
Currently it shows assertion error as plain text :
![image](https://user-images.githubusercontent.com/5927933/46437125-6d64e100-c77c-11e8-9f3c-cae013d640fe.png)

I thought it would be readable if expected and actual values are printed in diff way: colored  and on separate lines. Rather than reading assertion output in form of `Failed asserting that %s matches expected %s` Like here:
![image](https

[2018-10-03 21:50] mikeerickson commented on #125
@kanatkubash OK, now i understand what you are saying.  The current display is default PHPUnit output, but we can override that as well.  I will have a closer look now that i know what you are asking for :-)   Would be nice to make it look even better!

[2018-10-05 19:34] mikeerickson commented on #125
@kanatkubash Hey there, I have made some adjustments to reporting, overriding some of the PHPUnit default reports to add some additional color (supports failures, errors, skipped, incomplete and risky tests).  It has been included in the `0.23.0` release

[2018-10-05 19:34] #125 closed

[2018-10-11 13:23] florentpoujol opened #129 "Cannot resolve Laravel exception handler when must display exceptions after the tests"
Hello, and first of all thanks for this package, the display is indeed  much prettier than PHPUnit's default one !

However version 0.23.x introduced a bug with Laravel when it must display an exception that happended during the test: it can't resolve the exception handler and display the following error instead (twice).

Doesn't happen with version 0.22.

[code]

Same result with Laravel 5.7.6 or

[2018-10-11 17:54] mikeerickson commented on #129
@florentpoujol First of all, my apologies from breaking things for you.  I certainly did work around this area (to add pretty printing for output)

Could you please provide some additional information?

- Could you please provide a copy of the test which is failing
- Provide some syntax into the seeding code which should be throwing an exception

[2018-10-11 19:11] Eliepse commented on #129
I have the same issue with Laravel 5.7.9, PhpUnit 7.4.0 and your plugin at version 0.23.2.
It occurs when an `\Exception` is thrown (with a custom message), except if I use `expectException` method in my test.
Without your plugin, the stacktrace is printed correctly.

[2018-10-11 19:21] florentpoujol commented on #129
Yes, here more info:

So after all the tests have run, PHPUnit display the status of the one that fails, as well as any exception that were thrown either from the test classes themselves, or from within the application's code.

The problem I have lies in displaying this last kind of exception: instead of displaying all the exceptions that were throw -and independently of how many of them were thro

[2018-10-12 07:53] florentpoujol commented on #129
Fixed. See PR https://github.com/mikeerickson/phpunit-pretty-result-printer/pull/130

I still don't understand why, when the exception was thrown from within Laravel, this is its error handler (instead of PHPUnit's) that is called...

When the exception wasn't thrown from within Laravel, it would just print `Undefined index:` (the actual error) instead of the `BindingResolutionException`.

While w

[2018-10-12 16:25] #129 closed, assigned to nobody

[2018-10-25 14:31] AdrianHL opened #132 "ResultPrinter71::printDefects does no match PHPUnit\TextUI\ResultPrinter::printDefects (7.4.3)"
Got the following error when running phpunit tests with PHPUnit 7.4.3.

`+ phpunit
PHP Warning:  Declaration of Codedungeon\PHPUnitPrettyResultPrinter\ResultPrinter71::printDefects(array $defects, string $type): void should be compatible with PHPUnit\TextUI\ResultPrinter::printDefects(array $defects, $type) in /opt/atlassian/pipelines/agent/build/vendor/codedungeon/phpunit-result-printer/src/Resul

[2018-10-25 15:35] mikeerickson commented on #132
Yes it sure does look that way. I will have a look and get an update posted

[2018-10-25 16:07] AdrianHL commented on #132
Fixed now. By mistake the container image was using PHPUnit 6.5.3. Changed from https://hub.docker.com/r/phpunit/phpunit to https://hub.docker.com/r/epcallan/php7-testing-phpunit, plus some tweaks to the container setup has fixed the issue.

[2018-10-25 17:04] mikeerickson commented on #132
@AdrianHL Thanks for the confirmation.  I just tested the latest PHPUnit against this project and everything is working without any modifications so I was about to ask for more details 😀

[2018-10-25 17:04] #132 closed

[2019-01-17 14:02] gerardroche opened #137 "Can't disable colors"
In PHPUnit you can disable colors via the option `--colors=never`. A recent a change to how colors are handled means colors are always enabled.  See https://github.com/mikeerickson/phpunit-pretty-result-printer/commit/6d00b98a51774a8e8115c37157f0234ba8faa48d.

This was an issue before, see #19.

Impacts for example https://github.com/gerardroche/sublime-phpunit/issues/77

[2019-01-17 14:58] godbout commented on #137
@mikeerickson any way to help with that? I'd be glad to but I don't know where to start looking 🙈️

[2019-01-17 16:20] mikeerickson commented on #137
@gerardroche @godbout I will have a look at this later this afternoon.  I thought I had been a good citizen about this, but maybe I fell off the wagon. I will get it cured

[2019-02-05 10:13] andreasschroth opened #143 "Undefined method ResultPrinter71::formatWithColor()"
Not sure if this is related to PHPUnit 8 (didn't use this package before), but I'm getting this error:

[code]

[2019-02-05 16:08] mikeerickson commented on #143
Yes, it is related to PHPUnit 8.  I will get this fixed as soon as I can (likely Thursday or Friday as I am out of town until thursday)

[2019-02-05 16:09] mikeerickson commented on #143
Sorry for the troubles, I have a couple other issues to address related to PHPUnit 8 as well

[2019-02-05 16:10] andreasschroth commented on #143
@mikeerickson Alright, thank you for the feedback! No worries, thanks for maintaining the project and I'll check it out once it's PHPUnit 8 compatible.

[2019-02-05 19:58] mikeerickson commented on #143
@andreasschroth Hey there, scratched out some time today to have a look at this issue.  I have tagged a new version (0.26.0).

https://packagist.org/packages/codedungeon/phpunit-result-printer#0.26.0

You can install as

[code]

[2019-02-06 03:37] andreasschroth commented on #143
Thank you, it works! 👍

[2019-02-06 03:37] #143 closed

[2019-02-06 03:39] andreasschroth opened #144 "[Feature Request] Add a setting to specify test name length being displayed"
I can see that we have some tests like this being displayed: `...lVerificationTypeTest`.

Unfortunately, there are a few different classes ending with `VerificationTypeTest`, thus it's very hard to reason about the specific class. It would be awesome, if a setting could be added specifying the test name length that should be displayed.

[2019-02-15 02:05] patrickomeara opened #146 "socket_create() error in docker CI"
I've solved my issue, but thought I'd leave it here for others.

As of `0.25.1` anybar is enabled by default.
If you are using the official PHP Docker image, sockets aren't enabled by default.

Phanybar tries to use `socket_create()` which was marking our test suite as passed when there were errors in the tests. Producing a false positive in our CI deployment.

[code]

sockets can either be turned

[2019-02-15 02:05] #146 closed

[2019-02-15 05:23] mikeerickson commented on #146
Hmmm, this was resolved in a previous build but perhaps there was a regression.  All code passes through Travis before it is deployed, something else must of triggered this.

I will take a closer look tomorrow and patch if necessary.

[2019-02-28 13:16] solofeed opened #147 "ExceptionHandler is not instantiable"
PHP: 7.3.1
Laravel: 5.8 fresh installation

 If remove the printer from PHPUnit config, an error is not shown

Stacktrace:
Uncaught Illuminate\Contracts\Container\BindingResolutionException: Target [Illuminate\Contracts\Debug\ExceptionHandler] is not instantiable. in /var/www/vendor/laravel/fram
  ework/src/Illuminate/Container/Container.php:962
  Stack trace:
  #0 /var/www/vendor/laravel/framewor

[2019-02-28 15:17] mikeerickson commented on #147
What version of php are you using
What version of PHPUnit are you using
What version of printer package are you using

[2019-02-28 15:27] solofeed commented on #147
@mikeerickson
php 7.3.1
phpunit 8.0.4
printer 0.26.

[2019-02-28 16:08] mikeerickson commented on #147
Thanks, I will have a look and see what’s going on.

[2019-02-28 17:05] mikeerickson commented on #147
@solofeed I have tested these exact items and all works fine here?  Would you be willing to post the test app you have so I can try it locally?   Or, you can send it to me via email?   codedungeon@gmail.com

[2019-02-28 17:06] mikeerickson commented on #147
Further, is this running the default ExampleTest files, or are you running against your own tests

[2019-02-28 17:08] mikeerickson commented on #147
![image](https://user-images.githubusercontent.com/183153/53584404-59a98500-3b38-11e9-8df5-8591618c324b.png)

[2019-02-28 17:08] solofeed commented on #147
@mikeerickson I forgot to mention, it was test with the exception, so just fresh laravel 5.8 with PHPUnit 8, and adding throw exception to tested route

[2019-02-28 17:26] mikeerickson commented on #147
So, you are testing a route get and throwing an exception in the route index method?

[2019-02-28 17:26] solofeed commented on #147
@mikeerickson Exactly

[2019-02-28 17:43] mikeerickson commented on #147
@solofeed Again, all is working as expected here.  Would you mind sharing your test and route methods so I can make sure I am testing as you are doing.

[2019-02-28 18:18] solofeed commented on #147
@mikeerickson https://github.com/solofeed/laravel/tree/printer-error-proof
 Error reproduces without throwing an exception

`docker run --rm -v $(pwd):/app -w /app php:cli vendor/bin/phpunit` check it

[2019-02-28 18:50] mikeerickson commented on #147
OK, I think I have tracked down the issue.

Edit the `phpunit-printer.yml` and change the following

[code]

The default is `true` but this was changed in a previous build (I need to figure out where this has regressed)

[2019-02-28 18:58] solofeed commented on #147
Thank you) I will wait for the fix)

[2019-02-28 19:00] mikeerickson commented on #147
@solofeed I have tagged a new version `v0.26.1` and it is now available from packagist.  Had you not shared the docker part, I would have still been spinning my wheels as I have been testing locally.

Using the docker part, I was able to see the errors I needed to fix it

![image](https://user-images.githubusercontent.com/183153/53591061-05a69c80-3b48-11e9-97ce-f7d99ecba9eb.png)

[2019-02-28 19:00] #147 closed

[2019-02-28 19:03] solofeed commented on #147
@mikeerickson glad to hear that) thank you for the tag) Going to run CI tests with the beautiful printer

[2019-02-28 19:42] mikeerickson commented on #147
@solofeed Sorry for the issues.  Glad things are well now.

[2019-03-06 15:48] nesk opened #148 "Setting a custom message for an assertion throws an error"
When setting a custom message for an assertion, the printer throws an exception.

Here's an example:

[code]

The code fails [at this line](https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/70efe139f174954392582103355a1b4a3d9022e5/src/ResultPrinter71.php#L78) with the following error:

[code]

This is because the `$exceptionMessage` variable contains two directives instead of one,

[2019-03-06 17:48] mikeerickson commented on #148
@nesk Thank you for the report, I will have a look.  In the meantime, PRs are welcome 👍

[2019-03-08 00:50] mikeerickson commented on #148
@nesk I have just tried this agains the current release `0.26.1` and it works as expected?

Here is my test case

[code]

Output appears as expected

![image](https://user-images.githubusercontent.com/183153/53999610-e0da9800-40f8-11e9-93ce-a61bb03292e8.png)

[2019-03-11 09:18] nesk commented on #148
Sorry, just tried to reproduce this in a new and dedicated project, but I can't manage to do it.

This issue is probably on me. 😓

[2019-03-11 09:18] #148 closed

[2019-04-01 19:01] Braunson opened #149 "Weird box beside check issue"
Just updated to latest, now when running tests there's a box that appears beside each check icon..

See http://bit.ly/2OHxMJy

SSHing into Homestead via SmarTTY on Win 10, didn't have this issue previously.

[2019-04-01 20:26] mikeerickson commented on #149
Hmmm, curious. It is some escape character for sure. I have a few ideas, but will take a closer look using your environment.

[2019-04-02 02:02] mikeerickson commented on #149
@Braunson Does this happen with other icons, or is it just pass?

Can you please try editing the `phpunit-printer.yml` file and change the marker for `cd-pass` and see what happens.

In addition, try remove all the whitespace in this file as well and test.  I am curious if there is something in the whitespace that is being identitied on your homestead vm.

[code]

[2019-04-02 02:06] mikeerickson commented on #149
What version of OS (assuming Ubuntu) and PHPUnit are you using.

I have tested across all our test environments (various versions of Ubuntu and PHPUnit) using docker and I am not seeing the box character

[2019-04-02 02:10] mikeerickson commented on #149
@Braunson In the latest version, the pass icon is different that previous builds.  Here is what they used to use if you would like to take this `cd-pass` icon and place in your local `phpunit-printer.yml`

[code]

[2019-04-02 02:28] mikeerickson commented on #149
Note: In some Environments like Travis, Jenkins or some old Bash Console the UTF-8 Characters ✘ and ✔ are not supported, thus I believe the change to the `cd-pass` marker may be the issue.

Therefore, if you change to the previous `cd-pass` marker using the above, I think this will solve the issue fo you.

[2019-04-02 14:28] Braunson commented on #149
Running Ubuntu 18.04.1 LTS

Changing the `cd-pass` icon fixes it. Very weird the strong checkmark `\u2714` causes this. I did copy the `U+2714` heavy checkmark `✔` from [another place](https://en.wikipedia.org/wiki/Check_mark) and pasted it into the `phpunit-printer.yml` file and it shows the heavy checkmark without the box. I did take your default .yml file strong checkmark and checked for hidden

[2019-04-02 15:22] mikeerickson commented on #149
Well, glad that you have it resolved. I will take your updated hard checkmark from above and update the source to use it and get an update released so this will be cured for the masses.

[2019-04-02 16:58] #149 closed

[2019-04-02 17:22] mikeerickson commented on #149
@Braunson I have tagged a new version 0.26.2, now available on packagist.  When you have a chance, can you please test the release version and make sure it is working correctly.

[2019-04-03 21:48] Braunson commented on #149
@mikeerickson Yep that solved it for me!

[2019-04-04 00:06] mikeerickson commented on #149
@Braunson Awesome, thanks for helping debug the issue.

[2019-04-15 15:01] xiaohuilam opened #151 "please makes all ver>v0.8.0 incompatible with php ^7.0"
please makes all ver>v0.8.0 incompatible with php ^7.0, or it will mislead composer to require wrong newer version which incompatible with php7.0

[2019-06-20 20:41] bt0r commented on #144
Hello @andreasschroth i've done a PR to disable classname formating (see #152 ) Do you think it can fit your needs or you really want to be able to check classname length in the config file ? (in case of i can add another option to change classname max length)

[2019-06-22 11:56] andreasschroth commented on #144
@bt0r Thanks for the PR. Imo, a setting to specify the classname length would be better (and then e.g. `0` for showing the full class name) as it just gives more possibility and I think different projects might require different settings here for best developer usability. I mean, basically being able to differentiate the class names from each other should be sufficient.

But disabling the classnam

[2019-09-18 18:37] michaelnguyen547 commented on #144
any updates on this PR? This feature is very helpful as I am having similar tests ending the same. It hard to see when the class names are truncated.

[2019-09-18 20:30] mikeerickson commented on #144
I will work on getting this added for the next release. I am working on a few other items which will be part of new release as well, when those are done I will get this added and publish new release

[2019-11-11 14:06] bolechen opened #153 "Can't work with Laravel6"
[code]

have error

[code]

[2019-12-03 20:10] gofish543 opened #154 "Symfony 5?"
Will this package support symfony 5?

[2019-12-04 06:05] mikeerickson commented on #154
@gofish543 i will run through a test suite for smyfony 5 and let you know if there are any issues. I plan to have a look over the weekend

[2019-12-04 06:08] mikeerickson commented on #153
@bolechen i have used with many Laravel 6 based applications, including using the steps you have outlined above (using Laravel 6.2) and am not able to reproduce you reported issue.  What version of Laravel was used to produce this error.

[2019-12-04 06:09] #151 closed

[2019-12-04 07:03] bolechen commented on #153
sorry, is my mistake.

when i run with local phpunit, it ok

[code]

[2019-12-04 07:03] #153 closed

[2019-12-10 14:29] KDederichs opened #155 "PHPUnit\TextUI\ResultPrinter is internal"
Hey,
I'm getting following deprecation notice using Phpunit 8.4.3:

[code]

it would be great if we could get rid of that :)

[2019-12-10 16:21] mikeerickson commented on #155
Hmm, not seeing that here.  What version of PHP are you using?

[2019-12-11 10:06] KDederichs commented on #155
I'm currently using PHP version 7.3.9 on my development machine.

[2019-12-19 08:48] ddebin commented on #155
Same error here. Since PHPUnit 8.0, `PHPUnit\TextUI\ResultPrinter` is `@internal`. cf. https://github.com/sebastianbergmann/phpunit/issues/3236

[2020-02-11 23:19] lucacri opened #156 "Phpunit 9.0 compatibility"
Hello,
currently this package works only with phpunit `^8.0`. Can it be raised to `^9.0`?

[2020-02-12 02:01] mikeerickson commented on #156
There are currently issues with PHPUnit 9 as some of the internal classes we’ve extended have been marked as internal so we are waiting for PHPUnit response on how we can work with this issue.

[2020-02-25 07:44] AlexLisenkov commented on #154
What is the status of this issue?

[2020-02-27 22:25] verschuur commented on #156
In PHPUnit 8 the class was marked as internal, in 9 it has been turned into an interface.

Myself and a colleague had the same idea for a fix which we implemented for phpunit-pretty-print and seems to fix the issue (albeit at the expanse of backwards compatibility). Check out the pull requests https://github.com/sempro/phpunit-pretty-print/pull/30 and https://github.com/sempro/phpunit-pretty-print

[2020-02-28 01:24] mikeerickson commented on #156
I have seen this and know what needs to be done to fix it in this project.  Just a matter of time to get it implemented

[2020-02-29 22:01] mikeerickson commented on #156
New version 0.27 has been tagged, adding support for PHPUnit 9

[2020-02-29 22:01] #156 closed

[2020-02-29 22:04] mikeerickson commented on #155
Fixed with 0.27.0 release -- https://github.com/mikeerickson/phpunit-pretty-result-printer/releases/tag/0.27.0

[2020-02-29 22:04] #155 closed

[2020-03-02 15:52] jdarrohn commented on #144
I posted in the PR but I agree that this is a helpful feature. Thank you for your hard work on this, tests look way better! 🎊

[2020-03-05 04:25] mikeerickson commented on #154
Symfony 5 support is currently in progress.  One of the issues I need to resolve is getting PHPUnit-bridge (https://github.com/symfony/phpunit-bridge) updated to support PHPUnit 9 which I am not finding much information.

[2020-04-30 13:45] ddebin commented on #154
`phpunit-bridge` now supports PHPUnit 9.
https://github.com/symfony/phpunit-bridge/releases

[2020-05-19 22:05] Arkanius commented on #154
Since now phpunit-bridge supports PHPUnit 9 can we support symfony 5?

[2020-05-19 22:33] mikeerickson commented on #154
@Arkanius it is on the task list, but I first must recover from COVID-19 virus.  Hopefully I will be back to work in a couple weeks.  Sorry to holdup your work, but not able to code right now

[2020-05-19 22:56] Arkanius commented on #154
Wow, no problem man. Health first! Nice recover!

[2020-05-29 14:19] YaFou opened #161 "Dump PHP version in "composer.json""
I've worked on a project where I have to support at least PHP 7.1. So I use PHPUnit 7 to support this version and the printer.

[code]

My problem here is that I can't install the printer on PHP 7.1 and PHP 7.2 because the printer can install itself but wants to install also PHPUnit 8 or 9. Or PHPUnit 8 requires at least PHP 7.2.

[code]

[2020-06-23 16:00] arjenm opened #162 "phpunit-printer.yml should not be in .gitignore"
Today I ran into a similar issue as #118

We use Satis to cache php-packages. And phpunit-printer.yml for version 0.27 was missing.

It seems Satis uses the composer "packaging" code, which honors .gitignore files by default:
https://github.com/composer/satis/issues/601

Given that phpunit-printer.yml is actually an important part of this package, I'd think it should not be part of the .gitignore

[2020-06-24 00:23] mikeerickson commented on #162
@arjenm This has been corrected in https://github.com/mikeerickson/phpunit-pretty-result-printer/releases/tag/0.28.0 but I am still a little puzzled as to why this is happening for a small subset of users.  The aforementioned #118 comparison does not seem related, but we can confirm after you try this version.

[2020-06-24 00:23] #162 closed

[2020-06-24 00:24] mikeerickson commented on #154
@Arkanius I am finally back to semi-normal and will be reviewing this issue in greater detail soon!

[2020-06-24 05:42] arjenm commented on #162
@mikeerickson Thanks for the quick response. The 0.28-zipfile from our Satis does have both phpunit-printer.yml files (root and src), in constrast to 0.27. So it does fix my issue :)

I agree its probably only similar due to the eventual error message; i.e. a message that phpunit-printer.yml was not found. The cause of why those files weren't there was probably very different.

I initially install

[2020-06-24 13:30] mikeerickson commented on #162
@arjenm well, at any rate I am glad it has fixed your issue.  Quite an edge case, but that is software in a nutshell. Enjoy 🤓

[2020-06-24 17:29] Arkanius commented on #154
I'm glad to hear that your fine @mikeerickson ! Thanks!

[2020-06-24 17:52] mikeerickson commented on #154
@Arkanius if all goes to plan, I will be working on getting this resolved over the weekend

[2020-07-04 07:35] zembrowski opened #164 "Collision Listener fails"
I’m getting the following exception after activating the Collision Listener as described in the readme.

  `Class "NunoMaduro\Collision\Adapters\Phpunit\Listener" does not exist`

The Listener Class seems to not exist anymore inside Collision Adapters. Is there another way to activate the Collision Listener with pretty-result-printer?

[2020-07-04 13:54] mikeerickson commented on #164
That latest version of Collision has removed the listener and cannot be used with printer.  You will need to modify the `phpunit.xml` file and remove the `<listener>` section that was updated when running thrb`init` command.

we have been in discussion with Nuno about restoring the listener functionality as it added good details to printer output, but as of now, he has not restored the listener fu

[2020-07-04 13:54] #164 closed

[2020-07-04 15:48] mikeerickson commented on #164
@zembrowski If you want to add you desire to have the listener version restored, here is the ticket submitted to Collision

https://github.com/nunomaduro/collision/issues/102

[2020-08-23 10:48] ian-patel opened #165 "Weird Printing"
It's not pretty result after upgrade. Checkboxes are not inline.

PHPUnit Pretty Result Printer 0.28.0
PHPUnit 8.5.8
Laravel Framework 7.25.0
MacOS
iTerm2
Font: Melso LG  L DZ for Powerline

![image](https://user-images.githubusercontent.com/9893863/90976614-97069b80-e592-11ea-960e-23a9404afb51.png)

[2020-08-23 19:06] mikeerickson commented on #165
Looks like you might have some `var_dump` in either the tests or working classes.

Easiest way to debug close would be to create a new simple test class with a few assertions

[code]

[2020-08-23 19:11] mikeerickson commented on #165
If you still have troubles, try whipping together a new Laravel app and test again to try and remove any variables.

You can add some more assertions to the example tests that come out of the box and see what happens

[2020-08-27 12:21] ayarotskiy opened #166 "Class name got cutted if the name is long"
PHPUnit Pretty Result Printer 0.28.0
PHPUnit 9.0.0
Symfony 5.1.3
![Снимок экрана от 2020-08-27 19-19-06](https://user-images.githubusercontent.com/61584154/91441421-5c567900-e89a-11ea-817e-1736e01605f9.png)

Could it be fixed? Maybe throw the option?

[2020-08-27 16:07] mikeerickson commented on #166
This is by design, we have allocated a maximum of 50 characters for class name length.  We have an internal build we are working on which will make this an option, but for now it is fixed at 50 characters.

[2020-08-27 16:09] mikeerickson commented on #166
Duplicate https://github.com/mikeerickson/phpunit-pretty-result-printer/issues/144

[2020-09-03 10:39] ian-patel commented on #165
I tried with new Test class, it worked fine.
Not sure what's wrong with existing tests.

[2020-09-03 20:31] ian-patel commented on #165
When I use `Illuminate\Foundation\Testing\TestCase` that time it print weird.
It was working fine with v0.26.2. Recently I upgraded to v0.28.0.

[code]
![image](https://user-images.githubusercontent.com/9893863/92106893-1882e700-ee39-11ea-9628-0bdbcf37c91b.png)

[2020-09-03 22:28] mikeerickson commented on #165
What version of Laravel are you using?
What version of PHP are you using?

When it worked as stated above, what TestCase were you using?

[2020-09-04 03:29] ian-patel commented on #165
Laravel: v7.27.0
PHP: 7.4.9

It was working fine when `ExampleTest` was extending `PHPUnit\Framework\TestCase`

[2020-09-04 14:47] mikeerickson commented on #165
I just created a new testing application and configured as you have defined and all is working as well.

Did you modify either `Illuminate\Foundation\Testing\TestCase` or `CreateApplication` trait?
Did you modify any other support files?

I am posting my test application [here](https://github.com/mikeerickson/laravel-printer-test) should you want to try, but all seems good on this end

https://git

[2020-09-08 22:37] ian-patel commented on #165
There was empty line before `<?php` in one file. That was causing this issue.
Fixed.

[2020-09-08 22:37] #165 closed

[2020-09-08 22:50] mikeerickson commented on #165
Well, I am glad you got things working!

[2020-09-13 18:09] mikeerickson commented on #166
Addressed in `0.29.0` release see `cd-printer-dont-format-classname` option in `phpunit-printer.yml` for setting

[2020-09-13 18:09] #166 closed

[2020-09-16 17:33] gofish543 commented on #154
I believe this issue can be closed?

[2020-09-16 18:28] #154 closed

[2020-09-23 07:09] mbrodala opened #169 "Fails with PHPUnit 7.5: Cannot access private property $anyBarEnabled"
With PHPUnit 7.5 the result printer fails:

[code]

The installed packages:

[code]

If I move the `use PrinterTrait` from `Printer.php` to `ResultPrinter71.php` the issue is gone. I'd recommend doing that anyways since it makes the code way easier to follow.

[2020-09-23 14:48] mikeerickson commented on #169
@mbrodala thank you for the recommendation, I will take a peek at this today and get a fix posted.

[2020-09-23 15:19] #169 closed

[2020-09-23 15:25] mbrodala commented on #169
Thanks for the hotfix!

[2020-09-23 16:07] mikeerickson commented on #169
No problem, sorry for the issue 🤓

[2020-11-17 00:34] nikrolls opened #171 "Doesn't work with versions of PHPUnit that don't contain PHPUnit\Runner\Version"
The unguarded references to `PHPUnit\Runner\Version` in `src/Printer.php` mean that this doesn't work with any version of PHPUnit before the namespace refactor. Understandably this is a pretty old version and most people shouldn't be running it, but this as module appears to support it elsewhere this should be fixed by wrapping them in a `class_exists` check.

[2020-11-17 04:17] mikeerickson commented on #171
What version of PHPUnit are you using?
What version of PHP are you using?

We have gone to great lengths to maintain support as far back as possible, but at some point we need to make a decision just how far back we can realistically support

I would be happy to take a look at this, but promises.

[2020-11-22 22:47] nikrolls commented on #171
@mikeerickson In this case I'm using PHPUnit 5.7 (sorry about that - the framework I'm using will update soon but hasn't yet) on PHP 7.4.

There are other issues with PHPUnit 5.7 - even when I make the changes I've suggested it still doesn't work - but in this issue I'm focusing solely on the logistical issues in `src/Printer.php`. `PHPUnit\Runner\Version` was introduced in PHPUnit 6.0; before tha

[2020-11-22 22:59] mikeerickson commented on #171
@nikrolls ya, I am aware of what needs to new done, just hard to support so many versions of PHPUnit as they have a tendency to make these radical changes between releases.   This will likely be a one of change to address your specific problem.

I will make time this coming week as I have slowed down a bit for thanksgiving and taking a bit of time off from my day job to refuel. But, I will get it

[2020-11-22 23:27] nikrolls commented on #171
No worries, no rush! If I get a chance I will raise some PRs, but I can't promise anything 😁 Just wanted to make sure it was recorded.

[2020-11-22 23:59] mikeerickson commented on #171
If you have the time, feel free. Otherwise I will get it knocked within the next week.

[2020-12-02 09:33] oriceon opened #172 "PHP 8 Support ?"

[2020-12-02 17:14] mikeerickson commented on #172
@oriceon I just realized that the [0.30.0](https://github.com/mikeerickson/phpunit-pretty-result-printer/releases/tag/0.30.0) branch which provides support for PHP 8 was never actually tagged. I have just corrected this omission and all should be good to go now.

Please let me know if you have other issues

https://github.com/mikeerickson/phpunit-pretty-result-printer/releases/tag/0.30.0

[2020-12-02 17:14] #172 closed

[2020-12-28 15:14] jorissteyn opened #173 "Dataset name duplicated in test name"
If the name of a dataset contains upper-case characters, parts of the dataset name are added to the test name. For example:

[code]

Will output:

[code]

Expected output:

[code]

[2020-12-28 15:18] jorissteyn commented on #173
I'm ashamed; this is the wrong issue tracker. Your printer is fine :)

[2020-12-28 15:18] #173 closed

[2020-12-28 15:34] mikeerickson commented on #173
@jorissteyn well, you should continue using mine 😀

[2021-12-01 13:46] kostajh opened #174 "PHP Fatal error: Declaration of Codedungeon\PHPUnitPrettyResultPrinter\ResultPrinter5::startTest(PHPUnit_Framework_Test $test) must be compatible with PHPUnit\TextUI\ResultPrinter::startTest(PHPUnit\Framework\Test $test): void in vendor/codedungeon/phpunit-result-printer/src/ResultPrinter5.php on line 11"
**What version of this package are you using?**

0.31.0

**What operating system, Node.js, and npm version?**

macOS
node v12.21.0
6.14.11

**What happened?**

I get this error when invoking PHPUnit after following the README instructions to set `printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer"` in phpunit.xml.dist

**What did you expect to happen?**

For the tests to run.

**Are you

[2021-12-14 19:04] mattstauffer opened #176 "Under PHP 8.1, this package (because of one of its dependencies) show deprecation notices"
**What version of this package are you using?**
0.31.0

**What operating system, Node.js, and npm version?**
Mac, PHP 8.1

**What happened?**
[code]

**What did you expect to happen?**
No errors

**Are you willing to submit a pull request to fix this bug?**
Yep.

[2021-12-14 19:05] mattstauffer commented on #176
No PR needed; this PR needs to be merged to the dependency:
https://github.com/hassankhan/config/pull/135

And then it'll be fixed. I've just put this issue here for reference.

[2022-01-06 22:28] mattstauffer commented on #176
Update: The fix was tagged as v3.0.0 so we need to update this package to add support for `^3.0`:

https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/b04ebbc920062e29578ce34ac73b87f99190e65a/composer.json#L24

[2022-01-06 22:29] mattstauffer commented on #176
As far as I can tell there are no breaking changes to `3.0`:

https://github.com/hassankhan/config/compare/2.2.0...3.0.0

So hopefully we can just change it in `composer.json` and call it day.

[2022-02-11 07:02] me-shaon commented on #176
@mikeerickson any plan to merge this PR?

[2022-02-25 16:48] #176 closed

[2022-06-13 06:36] vistart opened #181 "void return type of PHP 7.0 Compatibility"
https://github.com/mikeerickson/phpunit-pretty-result-printer/blob/9e45322cca36496240cc7cc799c3d4045f21576d/src/Printer.php#L25

The same as #73 .

We need to fix this issue, as our project is stick to PHP 7.0.

[2022-08-22 17:04] oranges13 opened #183 "PHP 8.1 compatibility"
**What version of this package are you using?**
0.30.1

**What operating system, Node.js, and npm version?**
Ubuntu Linux (Xenial) / PHP 8.1

**What happened?**
Running unit tests with PHPUnit results in deprecation messages:
[code]

**What did you expect to happen?**
Running tests will not display deprecation messages

**Are you willing to submit a pull request to fix this bug?**
I cannot at this

[2022-08-22 18:42] mikeerickson commented on #183
This issue has been resolved in `0.32.0`

[2022-08-22 18:42] #183 closed, assigned to nobody